{% extends "journal/base.html" %} {% load static %} {% block content %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card shadow-sm mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Password Changed</h6>
        </div>
        <div class="card-body">
          <div class="alert alert-success">
            <h4 class="alert-heading">Password Changed Successfully!</h4>
            <p>
              Your password has been changed. You can now use your new password
              to log in.
            </p>
          </div>
          <a class="btn btn-primary" href="{% url 'users:profile' %}">Return to Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
